![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

# Título: EDA de la Liga de Futbol Española Temporada 22/23

## Tema:

En este proyecto, se analizarán diferentes datos acerca de los clubes de la Primera Liga de fubtol española con la intención de explorar cuales son los factores que afectan al rendimiento del club en la liga.

Es decir, se buscarán cuales son las variables que causan que un equipo tenga mejor rendimiento que otro y por lo tanto cual es el que, en caso de un enfrentamiento, tiene mayores posibilidades de ganar analizando únicamente factores previos al partido.

## Hipótesis:
 - Los equipos con mayores presupuestos tienen un mejor desempeño en la liga.
 - Los equipos tienen un mejor desempeño cuando juegan en su estadio en comparación con cuando juegan como visitantes.
 - Los equipos que mantienen más tiempo la posesión de balón tienen más probabilidades de ganar.
 - Los equipos con una mayor proporción de jugadores extranjeros tienen un mejor desempeño en la liga.
 - Existen equipos con mejor rendimiento un dia concreto de la semana.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [6]:

import pandas as pd
import numpy as np
from func import * 

df_partidos=pd.read_csv('./data/SP1.csv')

url_plantilla_ejemplo1="https://www.transfermarkt.es/real-madrid-cf/kader/verein/418/plus/0/galerie/0?saison_id=2022" #Contiene los datos de la plantilla del Real Madrid
soup1=get_soup(url_plantilla_ejemplo1)
df_madrid=crear_df(soup1)

url_plantilla_ejemplo2="https://www.transfermarkt.es/athletic-club/kader/verein/621/plus/0/galerie/0?saison_id=2022" #Contiene los datos de la plantilla del Athletic Club
soup2=get_soup(url_plantilla_ejemplo2)
df_athletic=crear_df(soup2)

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [7]:
# Primer dataset
df_partidos.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla,2,1,H,1,1,...,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta,Espanol,2,2,D,1,0,...,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Valladolid,Villarreal,0,3,A,0,0,...,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88
3,SP1,13/08/2022,20:00,Barcelona,Vallecano,0,0,D,0,0,...,2.61,-1.75,1.82,2.08,1.83,2.08,1.86,2.14,1.82,2.06
4,SP1,14/08/2022,16:30,Cadiz,Sociedad,0,1,A,0,1,...,1.50,0.25,2.05,1.85,2.06,1.87,2.08,1.92,2.00,1.86

In [8]:
# Siguiente dataset...
df_madrid.head()

             Nombre Edad Posición Nacionalidad  Valor_Mercado
0  Thibaut Courtois   31  Portero      Bélgica  45,00 mill. €
1      Andriy Lunin   24  Portero      Ucrania   5,00 mill. €
2     Mario de Luis   21  Portero       España      500 mil €
3        Luis López   22  Portero       España      300 mil €
4   Lucas Cañizares   21  Portero       España      200 mil €

In [9]:
df_athletic.head()

               Nombre Edad         Posición Nacionalidad  Valor_Mercado
0          Unai Simón   26          Portero       España  25,00 mill. €
1  Julen Agirrezabala   22          Portero       España   5,00 mill. €
2        Ibon Ispizua   20          Portero       España      100 mil €
3           Ander Iru   24          Portero       España      100 mil €
4       Yeray Álvarez   28  Defensa central       España  15,00 mill. €